.appearance__trigger {
    position: absolute;
    top: 5px;
    left: 5px;
    text-shadow: none;
    user-select: none;
}

.appearance__menu {
    display: none;
    position: absolute;
    width: 260px;
    top: 20px;
    left: 20px;
    z-index: 100;
    background-color: #ccc !important;
    border-radius: 5px;
    padding: 20px;
}

.appearance__menu * {
    color: #000 !important;
    background-color: #ccc !important;
    text-shadow: none;
}

.appearance__menu--active {
    display: block;
}

.appearance__font-size--small p {
    font-size: 0.8em;
}
.appearance__font-size--medium p {
    font-size: 1em;
}
.appearance__font-size--large p {
    font-size: 1.2em;
}
.appearance__font-size--verylarge p {
    font-size: 1.4em;
}

.appearance__font-color--black
    *:not(.appearance__font-color--black .appearance__font-color--:not(.appearance__font-color--black) *) {
    color: #000 !important;
}
.appearance__font-color--white
    *:not(.appearance__font-color--white .appearance__font-color--:not(.appearance__font-color--white) *) {
    color: #fff !important;
}
.appearance__font-color--red
    *:not(.appearance__font-color--red .appearance__font-color--:not(.appearance__font-color--red) *) {
    color: #ff0000 !important;
}
.appearance__font-color--blue
    *:not(.appearance__font-color--blue .appearance__font-color--:not(.appearance__font-color--blue) *) {
    color: #0000ff !important;
}
.appearance__font-color--green
    *:not(.appearance__font-color--green .appearance__font-color--:not(.appearance__font-color--green) *) {
    color: #008000 !important;
}
.appearance__font-color--orange
    *:not(.appearance__font-color--orange .appearance__font-color--:not(.appearance__font-color--orange) *) {
    color: #ffa500 !important;
}
.appearance__font-color--purple
    *:not(.appearance__font-color--purple .appearance__font-color--:not(.appearance__font-color--purple) *) {
    color: #800080 !important;
}
.appearance__font-color--yellow
    *:not(.appearance__font-color--yellow .appearance__font-color--:not(.appearance__font-color--yellow) *) {
    color: #ffff00 !important;
}

.appearance__font-size--small {
    font-size: 0.8em;
}
.appearance__font-size--medium {
    font-size: 1em;
}
.appearance__font-size--large {
    font-size: 1.2em;
}
.appearance__font-size--verylarge {
    font-size: 1.4em;
}
