@import 'output.css';

.book-section {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}

.book-section__info {
    text-align: center;
    padding: 0 20px 5px;
    width: 100%;
}

.book-section__cover {
    margin: auto;
    align-self: center;
    width: 60%;
}

@media screen and (min-width: 768px) {
    .book-section {
        flex-direction: row;
    }

    .book-section__info {
        text-align: right;
    }

    .book-section__cover {
        width: 30%;
    }
}

@media screen and (min-width: 1200px) {
    .book-section {
        padding: 0 15%;
    }
}

.authors {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0;
}

@media screen and (min-width: 768px) {
    .authors {
        flex-direction: row;
    }
}
.author {
    width: 80%;
    text-align: center;
}
.author__image {
    height: initial;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

@media screen and (min-width: 768px) {
    .author {
        width: 40%;
    }
}

@media screen and (min-width: 1200px) {
    .author {
        width: 30%;
    }
}
