@import 'output.css';

@media screen and (min-width: 1200px) {
    .js-nav-bar--transparent,
    .js-nav-bar--transparent * {
        color: var(--accent-bg-color) !important;
        text-shadow: none;
    }
}

#news-block {
    padding-top: min(16vh, 4rem);
    align-items: normal;
}

.news-post {
    flex: 6;
}

#news-links {
    flex: 2;
}

#latest-posts .date-time,
#news-links .header-small {
    background-color: var(--alt-bg-color);
    margin: min(4vh, 1rem) 0;
    padding: min(2vh, 0.5rem) min(1.5vw, 0.5rem);
    border-top: min(1vh, 0.25rem) solid var(--accent-bg-color);
}

#news-block .comments-section .comment * {
    text-align: justify;
}

#news-links ul {
    padding: 0;
}

#news-links li {
    font-size: min(3vw, 1rem);
    margin-top: min(4vh, 1rem);
    margin-bottom: min(2vh, 0.5rem);
}
