@import 'styles.css';

.book-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    margin: auto;
    justify-content: center;
}

.book-list__book {
    width: 200px;
    height: 350px;
}

.book__cover {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.book__title {
    height: 50px;
    text-align: center;
    background-color: var(--main-bg-color);
    color: var(--accent-bg-color);
}
